<div >

  <form class="form-signin"  action="" method="post" [formGroup]="adminloginRef" (ngSubmit)="checkAdmin()" >
    <div class="text-center mb-4">

      <h1 class="h3 mb-3 adLogin">Admin Login</h1>
    </div>

    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address"   formControlName="username" required="" autofocus="">
      <label for="inputEmail">Usernname</label>
    </div>



    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"  formControlName="password" required="">
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block buttonColor" type="submit">Sign in</button>
 <br> <br>

    <div class="container " >
      <button type="button" class="cancelbtn btn btn-danger m-5" type="reset">Reset</button> 
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form> 

  <div>
    {{msg}}
  </div>


</div>
