<br />
<br />

<div class="container">
  <div class="row">
    <div class="col">
      <ul class="list-group">
          <div>
           <h1><a [routerLink]="['/userhome']">Grocers </a></h1>
          </div>
        <ul class="container">
            <ul class="container">
               <div><button [routerLink]="['/selectItems']">Select Items</button><br></div>
            </ul>
            <ul class="container">
                <button [routerLink]="['/deleteItems']">Delete Items</button><br>
            </ul>
            <ul class="container">
                <button [routerLink]="['/viewItems']">View Items</button><br>
            </ul>
            
            <ul class="container">
                <button [routerLink]="['/checkout']">Checkout</button><br>
            </ul>
            
            <ul class="container">
              <a routerLink="/employeeSignIn">Employee Login</a><br />
                <button [routerLink]="['/user-order-status']">Account</button><br>
            </ul>
            
        </ul>
        <br>
        

             </ul>
    </div>
    <div class="col">
      
    </div>
  </div>
 
</div>
