<div class="order_section">
  <div class="card bg-light" style="width: 18rem" *ngFor="let item of orders">
    <img src="{{ item.productImage }}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">ORDER # {{ item.orderNumber }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ item.productName }}</h6>
      <p class="card-text">
        <small class="text-muted">Quality: {{ item.quantityOrdered }}</small>
      </p>
      <button type="button" class="btn btn-primary btn-block">
        Status: {{ item.Status }}
      </button>
      <button type="button" class="btn btn-success btn-block">
        Cost: ${{ item.priceEach * item.quantityOrdered }}
      </button>
    </div>
  </div>
</div>
